:root {
  --color-red: #dc3131;
  --color-dark: #222222;
  --color-light: #f8f9fa;

  --spacing-small: 10px;
  --spacing-medium: 15px;
  --spacing-large: 20px;

  --box-shadow: 0 2px 24px rgba(168, 175, 196, 0.5)
}

*, ::after, ::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-dark);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.7;
}

* {
  scrollbar-color: var(--color-red) var(--color-dark);
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-red);
  border-radius: 2px;
}

::-webkit-scrollbar-track {
  background-color: var(--color-dark);
}

:global(.btn) {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

:global(.img-contain) {
  display: block;
  object-fit: contain;
  object-position: center;
}

:global(.img-cover) {
  display: block;
  object-fit: cover;
  object-position: center;
}